<div class="shell">
	
	<!-- Header -->	
	<div id="header">
		<h1 id="logo"><a href="#">shoparound</a></h1>	
		
		<!-- Cart -->
		<div id="cart">
			<a href="javascript:void(0)" (click)="viewCart()" class="cart-link">Your Shopping Cart</a>
			<div class="cl">&nbsp;</div>
			<span>Cart: <strong>{{cartCount}}</strong></span>
			&nbsp;&nbsp;
			<span>Total cart value: <strong>${{cartPrice}}</strong></span>
		</div>
		<!-- End Cart -->
		
		
	</div>
	<!-- End Header -->
	
	<!-- Main -->
	<div id="main">
		<div class="cl">&nbsp;</div>
		
		<!-- Content -->
		<div id="content">
			
			
			
			<!-- Products -->
			<div class="products">
				<div class="cl">&nbsp;</div>
				<ul *ngIf="allRecord; else noproduct">
				    <li *ngFor="let product of allRecord">
				    	<a href="#"><img src="assets/css/images/big1.jpg" alt="" /></a>
				    	<div class="product-info">
				    		
				    		<div class="product-desc">
								<h4>{{product.name}}</h4>
				    			 <strong class="price">${{product.price}}</strong>
                         <input type="button" value="BUY" class="r_buy_button" (click)="addToCart($event,product)">
				    		</div>
				    	</div>
			    	</li>
			    
			    
            </ul>
            <ng-template #noproduct>
               <div>No product available</div>
            </ng-template>
            
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Products -->
			
		</div>
		<!-- End Content -->
		
		
		
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	
	
</div>	
<app-dialog (uploaded)="updateRecord($event)"></app-dialog>